#table-green{
  display:flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
 /* justify-content: center;*/ 
  border-radius: 6px;
  box-shadow:5px 5px 5px 0 lightgrey;
  background-color: #fd7e14;
}

table,th,td{  
  padding: 15px 15px 15px 15px;
  color: white;
  /*background-color: white;*/
  border: 4px solid white;
  border-collapse: collapse; }
th{  width: 150px; background-color: #666666}
td{background-color: #FFA145}
/*td{ background-color: #fd7e14 }*/
