/**{
	margin:0;
	padding: 0;
}*/
header{
    background-color:white;
    margin: 0 0 0 0;
    padding: 0px;
    width: 100%;
    box-shadow: 2px 2px 7px 0 gray;
    position: fixed;
}
#logo{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    margin:0 0 0 0; 
    background-image: url(../img/pattern.png);
}
nav{
    float: right;
    background-color:lightslategrey;
    padding: 20px 2px 17px 0px;
}
nav a{
    text-decoration:none;
    padding: 20px 30px 17px 30px;
    font-weight: bold;
    color: white;
}
nav a:hover{
    background-color:rgb(63, 85, 105);
    
}

h1{
    text-align: center;
    padding-top: 100px;
    color:rgb(63, 85, 105);
    font-size: 40px;
   }
#article-list{
	display: contents;
	justify-content: center;
	
}
section a{
    text-decoration: none;
}
section p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(71, 67, 67);
}
section article{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    width: 60%; 
    height: 25%;
    border-radius: 20px;
    box-shadow: 2px 2px 6px 0 gray;
    font-family: slabo27;
}
section article:hover{
    
}
article{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;

}
footer{
    background-color: lightslategrey;
    display: block;
    height: 60px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    box-shadow: 2px 2px 10px 0 gray;
}
h5{
    color: white;
    text-align: center;
    padding-top: 20px;
}
h5:hover{
    color: rgb(60, 235, 153);
}