body{
  background-color: #e9ecef; 
}
.app{
  margin-top: 50px; 
  padding: 5px;
  display: flex;
  justify-content: center;
}
.card{
  width: 40%;
  display:block;
 /* justify-content: center;*/
  border: 1px solid lightgrey;
  border-radius: 6px;
  box-shadow:1px 1px 4px 0 lightgrey;
  background-color: #007bff;
}
h1{
  margin: 20px 0 20px 0;
  text-align: center;
  color: white;
}
.form{
  display:block;
  font-size: 20px;
  margin: 0 0 0 0;
  padding: 5px 5% 5% 5%;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px
}
/*p{
  clear: both;
  display: flex;
  
}*/
#nama{
  margin-right: 10%;
  float: right;
  width: 50%;
  height: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 4px 0 4px 0;
}

input[type="checkbox"]{
  float: left;
  vertical-align: middle;
  margin: 6px 6px 4px 40%;
}
#item{
  margin-bottom: -20px;
}
label{
  font-size: 16px;
  color: #2E2E2E;
}

input[type="submit"]{
  background-color: #007bff;
  text-align: right;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 10px 10px 10px 10px;
}
input[type="submit" i]:focus{
  background-color: #023abd;
  outline-offset: 2px;
  outline-color: white;
  outline-style: none;
}

/*button{
  border-radius: 20px;
  font-size: 16px;
  border-width: 2px;
  border-style: solid;
}
*/

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/