.navbar-light{
  padding: 10px;
  display: flex;
  /*justify-content: flex-end;*/
  background-color: white;
  box-shadow: 2px 2px 10px 0 lightgrey;
  color: #17a2b8;
  align-items: center;
  transition:  ease-in 0.3s;
}
.navbar-dark{
  padding: 10px;
  display: flex;
  /*justify-content: flex-end;*/
  background-color: #292D3E;
  box-shadow: 2px 2px 10px 0 grey;
  color: white;
  align-items: center;
  transition:  ease-in 0.3s;
}
.nav-light{
  padding-left: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.nav-dark{
  padding-left: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.nav-light a{
  text-decoration: none;
  color: #37435F;
  /*font-weight: bolder;*/
  font-size: 16px
}
.nav-dark a{
  text-decoration: none;
  color: white;
  /*font-weight: bolder;*/
  font-size: 16px;
}
.theme{
    display: flex;
    padding:0 10px 0 10px;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.toggle-light{
  color: white;
  width: 50px; height: 30px;
  display: flex;
  border-style: none;
  font-size: 14px;
  border-radius: 10px;
  background-color: lightgrey;
  justify-content: center; align-items: center;
  transition:width 0.1s, height 0.1s,background-color 0.2s;
}
.toggle-dark{
  color: #292D3E;
  width: 50px; height: 30px;
  display: flex;
  border-style: none;
  font-size: 14px;
  border-radius: 10px;
  background-color: white;
  justify-content: center; align-items: center;
  transition:width 0.1s, height 0.1s,background-color 0.2s;
}
.toggle-light:focus{
  outline: none;
  border-style: none;
}
.toggle-light:active{
  width: 45px;
  height: 27px
}
.toggle-dark:focus{
  outline: none;
  border-style: none;
}
.toggle-dark:active{
  width: 45px;
  height: 27px
}
