.card-blue{
  display:flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
 /* justify-content: center;*/
  border-radius: 6px;
  box-shadow:5px 5px 5px 0 lightgrey;
  background-color: #17a2b8;
}
h2{
  margin: 15px 50px 15px 50px;
  text-align: center;
  color: white;
}
.form{
  display:block;
  font-size: 20px;
  margin:0 0 0 0;
  padding: 4% 6% 6% 6%;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px
}
/*p{
  clear: both;
  display: flex;
  
}*/
#nama{
  float: right;
  width: 50%;
  height: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 4px 0 4px 0;
}
p{  font-size: 18px}
input[type="checkbox"]{
  float: left;
  vertical-align: middle;
  margin: 6px 6px 4px 50%;
}
#item{
  margin-bottom: -25px;
}
label{
  font-size: 16px;
  color: #2E2E2E;
}

input[type="submit"]{
  background-color: #17a2b8;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  padding: 10px 10px 10px 10px;
}
input[type="submit" i]:focus{
  background-color: #023abd;
  outline-offset: 2px;
  outline-color: white;
  outline-style: none;
}