
.navbar{
	display: flex;
	/*justify-content: center;*/
	/*position: fixed;*/
	background-color: white;
	width: 100%;
	height: 50px
}
.logo{
	width: 150px
}
 .crop {
    width: 40%;
    height: 20%;
    overflow: hidden;
    float: left;
    margin-right:  100px
 }

.crop img {
	width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }
.nav{
	margin-left: 50%;
	float: right;
	display: flex;
	width: 30%;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}
.container{
	display: flex;
	justify-content: center;
	margin: 50px 0 50px 0
}
.main{
	background-color: white;
	width: 60%;
	padding: 50px;
}
.main h1{
	text-align: center;
}
.lorem p{
	display: flex;
}
.table{
	background-color: white;
	padding: 30px;

}
.table td,table{
	padding: 10px;
  border-bottom:  2px solid grey;
  margin: 0 10px 10px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px
}
.form{
	margin-top: 30px;
}
/*.form input{
	float: right;
	margin: 10px;
}*/
/*.form textarea{
	float: right;
	margin: 10px;
}*/
footer{
	background-color: black;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position:fixed;
   bottom:0;
   width:100%;

}
footer h5{
	color: cyan
}